
.project-thumb {
  border-style: solid;
  border-color: black;
  border-width: thick;
}

.project-thumb img
{
  margin: 0px;
}

.center1{
  border-style: solid;
  border-color: black;
  border-width: thick;
}
